#left-side {
	overflow-y: scroll;
}

#left-side, #main-content {
	border: 1px solid #ccc;
	padding: 2%;
	margin: .5% 0;

	height: 98%;
}

#bible-image {
	width: 100%;
	height: 20%;

	cursor: default;
}